@using Mzayad.Web.Extensions
@model Mzayad.Web.Areas.admin.Models.Avatar.AvatarAddViewModel

@{
    ViewBag.Title = "Upload Avatar";
}

<div class="row">
    <div class="@Html.Css().FormNormal">
        @using (Html.BeginForm("Add", "Avatars", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <section>
                <div class="form-group">
                    <label for="file">Avatar Image</label>
                    <input type="file" id="file" name="upload" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(i => i.Avatar.IsPremium) Premium?
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        @Html.TextBoxFor(i => i.Avatar.Token, new { @type = "number", @class = "form-control" })
                        <div class="input-group-addon">Token</div>
                    </div>
                </div>
            </section>
            <section class="form-buttons">
                <button type="submit" class="btn btn-default">Upload</button>
            </section>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(function () {

            var $isPremium = $("#@Html.IdFor(i => i.Avatar.IsPremium)");
            var $token = $("#@Html.IdFor(i => i.Avatar.Token)");

            $token.attr("disabled", "disabled");
            $isPremium.change(function() {
                var $this = $(this);
                if ($this.is(":checked")) {
                    $token.removeAttr("disabled");
                } else {
                    $token.attr("disabled", "disabled");
                    $token.val("");
                }
            });
        });
    </script>
}
