@model DateTime?

<div class="input-group">
    <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
    </span>
    @Html.TextBox("", (Model.HasValue ? Model.Value.ToString("yyyy-MM-dd") : ""), new { @class = "form-control date-picker",@id="dateTime" })
</div>
