@using Kendo.Mvc.UI
@using Mzayad.Web.Extensions
@model IEnumerable<Mzayad.Web.Areas.Reports.Models.Subscriptions.SubscriptionLogViewModel>

@{
    ViewBag.Title = "Subscription Logs";
}

<ul class="link-list">
    <li>
        <a href="@Url.Action("LogsAsExcel", "Subscriptions", new { area="Reports" })"><span class="fa fa-file-excel-o fa-pad-right"></span>Export to Excel</a>
    </li>
</ul>

@(Html.Kendo().Grid(Model)
    .Init(ajax => ajax.Action("LogsAsJson", "Subscriptions"))
    .Columns(columns =>
    {
        columns.Bound(i => i.Created).FormatDateTime().Title("Date/Time");
        columns.Bound(i => i.UserFullName).ClientTemplate("<a href='/admin/users/details/#= UserId #'>#= UserFullName #</a>").Title("User");
        columns.Bound(i => i.OriginalSubscription).FormatDateTime().Title("Original Subscription");
        columns.Bound(i => i.ModifiedSubscription).FormatDateTime().Title("Updated Subscription");
        columns.Bound(i => i.DaysAdded).ClientTemplate("#= DaysAdded # days").Title("Days Added");
        columns.Bound(i => i.ModifiedByUserFullName).Title("Updated By");
    })
)
