@import url("variables");

.navbar-inverse {
    background: @base;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-nav .btn-link {
    border: 0;
    padding: 15px;
    color: white !important;
}

#page-title {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
}

#auction-list {
    > li {
        margin-bottom: 30px;
        padding: 20px;
        border: 1px solid #dbdbdb;
        background-color: white;

        &:last-child {
            margin-bottom: 0;
        }

        .auction-details {

            .auction-title,
            .auction-status,
            .auction-specs,
            .auction-price {
                margin-bottom: 20px;
            }

            h2 {
                color: @base;
                font-size: 4.8rem;
            }

            ul {
                -moz-column-count: 2;
                -webkit-column-count: 2;
                column-count: 2;
            }  
        }

        .auction-status {
            position: relative;
            display: table;
            border-collapse: separate;
            text-align: center;
            border: 2px solid;
            width: 100%;


            .auction-status-label,
            .auction-status-details {
                display: table-cell;   
                padding: 12px;
                font-size: 1.8rem;
            }

            .auction-status-label {     
                width: 150px;
                white-space: nowrap;
                vertical-align: middle;    
                color: white;

                i.fa {
                    font-weight: normal;
                }
            }

            .auction-status-details {
                position: relative;
                float: left;
                z-index: 2;
                width: 100%;
            }

            &.status-closed {
                
                border-color: @warning;
                background-color: fade(@warning, 5%);
                
                > .auction-status-label {
                    background-color: @warning;
                    
                }
            }

            &.status-live {
                
                border-color: @success;
                background-color: fade(@success, 5%);

                > .auction-status-label {
                    background-color: @success;
                    
                }

                > .auction-status-details {
                    display: none;
                }

            }

            &.status-upcoming {
                
                border-color: @warning;
                background-color: fade(@warning, 5%);
                
                > .auction-status-label {
                    background-color: @warning;
                    
                }

            }
        }

        .upcoming-date {
            padding: 25px;
            text-align: center;
            text-transform: uppercase;
            font-size: 4.2rem;
            font-weight: bold;
            color: #fff;
            background: @base;
        }
    }
}