html {
  font-size: 62.5%;
}
body {
  font-family: ubuntu;
}
body > div {
  font-size: 1.5rem;
  line-height: 2.4rem;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
h1 {
  font-size: 2.3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
p,
ul,
ol,
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 20px;
}
.lead {
  font-size: 1.6rem;
  font-weight: normal;
}
@media (min-width: 768px) {
  .lead {
    font-size: 1.7rem;
  }
}
.instruction {
  font-size: 1.6rem;
  margin-bottom: 2em;
}
.text-larger {
  font-size: 120%;
}
.text-success {
  color: #008c00;
}
.text-danger {
  color: #b94a48;
}
.text-warning {
  color: #D9A300;
}
.text-yes {
  color: #008c00;
}
.text-no {
  color: #b94a48;
}
body {
  padding-bottom: 20px;
}
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-inverse {
  background: white;
  border: none;
}
.navbar-inverse,
.navbar-inverse a,
.navbar-inverse .btn-link {
  color: #4D4D4D !important;
}
.navbar-inverse:hover,
.navbar-inverse a:hover,
.navbar-inverse .btn-link:hover {
  color: #9a9a9a !important;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #f5f5f5;
  background-image: none;
  box-shadow: none;
}
.navbar-inverse .navbar-toggle {
  margin-left: 0;
  margin-right: 0;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #333;
}
.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar,
.navbar-inverse .navbar-toggle:active .icon-bar {
  background-color: #fff;
}
.navbar-left {
  margin-left: -15px;
}
.navbar-right {
  margin-right: -15px;
}
.navbar-brand {
  display: block;
  height: auto;
}
.navbar-collapse {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: white !important;
  background-color: #33ace0;
  background-image: none;
}
#header-subscription {
  padding-top: 10px;
}
#header-subscription a {
  text-decoration: none !important;
}
#page-title {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eee;
}
.alert {
  border-radius: 0;
  border-width: 2px;
  border-left-width: 10px;
  font-size: 1.6rem;
}
.alert .alert-link {
  font-weight: normal;
  text-decoration: underline !important;
}
.alert-success {
  border-color: #008c00;
  color: #008c00;
  background: rgba(0, 140, 0, 0.05);
}
.alert-success .alert-link {
  color: #008c00;
}
.alert-danger {
  border-color: #b94a48;
  color: #b94a48;
  background: rgba(185, 74, 72, 0.05);
}
.alert-danger .alert-link {
  color: #b94a48;
}
.alert-warning {
  border-color: #D9A300;
  color: #D9A300;
  background: rgba(217, 163, 0, 0.05);
}
.alert-warning .alert-link {
  color: #D9A300;
}
.alert-info {
  border-color: #00468C;
  color: #00468C;
  background: rgba(0, 70, 140, 0.05);
}
.alert-info .alert-link {
  color: #00468C;
}
.link-list {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.link-list li {
  display: inline;
  margin-right: 8px;
}
.link-list li:last-child {
  margin-right: 0;
}
.link-list form {
  display: inline-block;
}
.menu-list {
  margin: 0 0 20px 0;
  padding: 8px;
  background-color: #292929;
  border-top: 16px solid #191919;
}
.menu-list li {
  list-style: none;
}
.menu-list li.menu-list-hidden {
  display: none;
}
.menu-list a {
  display: inline-block;
  width: 100%;
  padding: 8px;
  color: #fff;
  text-decoration: none !important;
  border-left: 4px solid #292929;
}
.menu-list a:hover {
  background-color: #363636;
  border-left: 4px solid #fff;
  color: white !important;
}
@media screen {
  .fit-cell,
  .link-cell {
    width: 1%;
    white-space: nowrap;
  }
}
.image-cell {
  width: 144px;
}
.fa-pad-left {
  padding-left: 4px;
}
.fa-pad-right {
  padding-right: 4px;
}
.fa-fw.fa-pad-right {
  margin-right: 6px;
}
.table {
  font-size: 1.4rem;
}
.table > thead > tr > th {
  vertical-align: top;
  border-bottom: none;
  background-color: #33ace0 !important;
  color: white !important;
  font-weight: normal;
}
.table > tbody > tr > td {
  border-top: none;
  border-bottom: 1px solid #ddd;
}
.table > tbody > tr:last-child > td {
  border-bottom-width: 2px;
}
.table.table-bordered {
  border: none;
}
.table.table-bordered > thead > tr > th,
.table.table-bordered > tfoot > tr > th {
  border: 1px solid #33ace0;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  font-size: 85%;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout + .bs-callout {
  margin-top: -5px;
}
.bs-callout-success {
  border-left-color: #008c00;
}
.bs-callout-success h4 {
  color: #008c00;
}
.bs-callout-danger {
  border-left-color: #b94a48;
}
.bs-callout-danger h4 {
  color: #b94a48;
}
.bs-callout-warning {
  border-left-color: #D9A300;
}
.bs-callout-warning h4 {
  color: #D9A300;
}
.bs-callout-info {
  border-left-color: #00468C;
}
.bs-callout-info h4 {
  color: #00468C;
}
.panel {
  border-radius: 0;
}
.avatar-container {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.avatar-premium {
  position: absolute;
  background-color: #33ace0;
  color: #fff;
  text-align: center;
  width: 100%;
  top: 0px;
  right: 0px;
  z-index: 10000;
  -ms-transform: rotate(30deg) translateX(70px);
  /* IE 9 */
  -webkit-transform: rotate(30deg) translateX(70px);
  /* Chrome, Safari, Opera */
  transform: rotate(30deg) translateX(25%);
}
.selectedImg {
  border: solid 2px #000000;
  padding: 5px;
}
.normalImg {
  cursor: pointer;
}
form section,
section.form-section {
  background: #f5f5f5;
}
@media screen {
  form section,
  section.form-section {
    padding: 32px;
  }
}
form section:not(:last-child),
section.form-section:not(:last-child) {
  margin-bottom: 32px;
}
.form-buttons {
  margin-top: 15px;
  padding: 32px 0 0 0;
  background: none;
  border-top: 1px solid #eee;
  text-align: right;
}
textarea {
  resize: vertical;
}
input[disabled] {
  cursor: default !important;
}
input[type=number].no-spinner::-webkit-inner-spin-button,
input[type=number].no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-control {
  height: auto;
  min-height: 38px;
  font-size: 1.5rem;
  line-height: 2.4rem;
  box-shadow: none;
}
.form-control,
.btn {
  border-radius: 0;
}
.form-control-sm {
  max-width: 75px !important;
}
@media (max-width: 320px) {
  .form-control-sm {
    max-width: 60px !important;
  }
}
.form-control-md {
  max-width: 125px !important;
}
p.form-control-static:after {
  content: '\0000a0';
}
.form-search {
  margin-bottom: 25px;
}
.form-readonly {
  opacity: 0.5;
}
.form-group .form-control {
  margin-bottom: 5px;
}
.input-group .form-control {
  margin-bottom: 0;
}
.form-group .form-control:last-child {
  margin-bottom: 0;
}
.form-group-disabled {
  opacity: 0.7;
}
.form-group-md {
  max-width: 160px !important;
}
.form-inline .form-control:last-child {
  margin-bottom: 5px;
}
.input-group {
  margin-bottom: 5px;
}
.input-group .form-control {
  margin-bottom: 0 !important;
}
.input-group-addon {
  border-radius: 0;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.btn,
.btn:hover,
.btn:focus {
  padding: 10px 24px;
  outline: none !important;
  border: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 1;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 2px;
}
@media (max-width: 320px) {
  .btn,
  .btn:hover,
  .btn:focus {
    font-size: 1.4rem;
  }
}
.btn:lang(ar),
.btn:hover:lang(ar),
.btn:focus:lang(ar) {
  letter-spacing: normal;
}
.btn:hover,
.btn:hover:hover,
.btn:focus:hover {
  opacity: 0.7;
}
.btn.submitting,
.btn:hover.submitting,
.btn:focus.submitting {
  text-transform: none !important;
  font-weight: normal !important;
  letter-spacing: normal;
  text-shadow: none;
  opacity: 0.7;
}
.btn-default,
.btn-default:hover,
.btn-default:focus {
  background: #33ace0;
  color: #fff;
}
.btn-default[disabled] {
  background: #33ace0;
  opacity: 0.4;
}
.btn-unstyled {
  border: 1px solid #333 !important;
  color: #333;
}
.btn-sm,
.btn-sm:hover,
.btn-sm:focus {
  padding: 5px 10px;
  font-size: 1.4rem;
}
.btn-link {
  opacity: 1 !important;
}
.btn-link.btn-xs {
  padding: 0;
  font-size: 1.2rem;
}
.btn-rounded {
  border-radius: 500px;
}
.field-validation-error {
  color: #b94a48;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error,
textarea.input-validation-error {
  border-color: #b94a48;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #b94a48;
}
.validation-summary-valid {
  display: none;
}
.required-label {
  display: inline-block;
  margin: -4px 0 0 8px;
  color: #b94a48;
  font-size: 1rem;
  vertical-align: text-top;
}
.localized-content > li {
  margin-bottom: 5px;
}
.localized-content > li:last-child {
  margin-bottom: 0;
}
.localized-content .input-group-addon {
  min-width: 50px;
}
.td-total {
  text-align: right;
}
#home-index #page-title {
  display: none;
}
#home-index h2 {
  margin: 50px 0 25px 0;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
#home-index #auction-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#home-index #auction-list .auction-item {
  position: relative;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #dbdbdb;
  background-color: white;
}
#home-index #auction-list .auction-item:last-child {
  margin-bottom: 0;
}
#home-index #auction-list .auction-item .live-action-ribbon {
  position: absolute;
  z-index: 9999;
  top: 10px;
  left: 0;
  padding: 8px 32px 8px 16px;
  background: transparent url(//az723232.vo.msecnd.net/assets/auctions-ribbon-635761938753702703.png) center right no-repeat;
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase;
}
#home-index #auction-list .auction-item .auction-status-loading {
  padding: 15px;
  font-size: 1.7rem;
  font-style: italic;
}
#home-index #auction-list .auction-item .auction-details .auction-title,
#home-index #auction-list .auction-item .auction-details .auction-retail-price,
#home-index #auction-list .auction-item .auction-details .auction-status,
#home-index #auction-list .auction-item .auction-details .auction-specs,
#home-index #auction-list .auction-item .auction-details .auction-price,
#home-index #auction-list .auction-item .auction-details .auction-bid-form {
  margin-bottom: 15px;
}
#home-index #auction-list .auction-item .auction-details .auction-title {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 3.1rem;
}
#home-index #auction-list .auction-item .auction-details .auction-retail-price {
  text-transform: uppercase;
  color: #bbb;
  font-size: 1.7rem;
}
#home-index #auction-list .auction-item .auction-details .auction-time-left {
  margin: 0 0 15px 0;
  padding: 15px 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  list-style: none;
  overflow: hidden;
}
#home-index #auction-list .auction-item .auction-details .auction-time-left .auction-time-part {
  float: left;
  margin: 0 30px 0 0;
  text-align: center;
}
#home-index #auction-list .auction-item .auction-details .auction-time-left .auction-time-part:last-child {
  margin-right: 0;
}
#home-index #auction-list .auction-item .auction-details .auction-time-left .auction-time-part .auction-time-value {
  position: relative;
  min-width: 76px;
  margin: 0 0 10px 0;
  padding: 20px 10px;
  background-color: #33ace0;
  color: #fff;
  font-size: 2.5rem;
  line-height: normal;
  border-radius: 10px;
}
@media (min-width: 768px) {
  #home-index #auction-list .auction-item .auction-details .auction-time-left .auction-time-part .auction-time-value {
    font-size: 4.1rem;
  }
}
#home-index #auction-list .auction-item .auction-details .auction-time-left .auction-time-part .auction-time-value:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid #389ECF;
  height: 1px;
  width: 100%;
}
#home-index #auction-list .auction-item .auction-details .auction-time-left .auction-time-part .auction-time-label {
  color: #33ace0;
  text-transform: uppercase;
}
#home-index #auction-list .auction-item .auction-details .auction-bid-details {
  text-align: center;
}
#home-index #auction-list .auction-item .auction-details .auction-bid-label {
  text-transform: uppercase;
}
#home-index #auction-list .auction-item .auction-details .auction-bid-form .form-control,
#home-index #auction-list .auction-item .auction-details .auction-bid-form .btn-default {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: normal;
}
#home-index #auction-list .auction-item .auction-details .auction-bid-form .form-control {
  padding: 8px;
  background-color: white;
  border: 2px solid #EC6127;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  text-align: center;
}
#home-index #auction-list .auction-item .auction-details .auction-bid-form .btn-default {
  background-color: #EC6127;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  text-transform: uppercase;
}
#home-index #auction-list .auction-item .auction-details .auction-recent-bids {
  margin: 0;
  padding: 0;
  list-style: none;
}
#home-index #auction-list .auction-item .auction-details .auction-recent-bids > li {
  margin-bottom: 10px;
}
#home-index #auction-list .auction-item .auction-details .auction-recent-bids > li:nth-child(2) {
  opacity: 0.66;
}
#home-index #auction-list .auction-item .auction-details .auction-recent-bids > li:nth-child(3) {
  opacity: 0.33;
}
#home-index #auction-list .auction-item .auction-details .auction-recent-bids .auction-recent-username {
  padding: 4px 8px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#home-index #auction-list .auction-item .auction-details .auction-recent-bids .auction-recent-bidamount {
  padding: 4px 0;
}
#home-index #auction-list .auction-item .auction-details .auction-action-buttons {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
}
#home-index #auction-list .auction-item .auction-details .auction-action-buttons li {
  float: left;
  padding: 10px;
}
#home-index #auction-list .auction-item .auction-details .auction-action-buttons li a {
  font-size: 1.3rem !important;
}
#closed-auctions {
  margin: 0 -10px 15px -10px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
#closed-auctions li {
  width: 100%;
  float: left;
  display: flex;
  padding: 0 10px 20px 10px;
}
@media (min-width: 560px) {
  #closed-auctions li {
    width: 50%;
  }
}
@media (min-width: 992px) {
  #closed-auctions li {
    width: 25%;
  }
}
.auction-tile {
  min-width: 0;
  border: 1px solid #F3F3F3;
  text-align: center;
}
.auction-tile a {
  font-size: 1.2rem !important;
}
.auction-tile .auction-tile-row {
  padding: 6px;
}
.auction-tile .auction-tile-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
}
.auction-tile .auction-tile-image {
  padding: 10px;
  position: relative;
}
.auction-tile .auction-tile-details {
  padding: 10px;
  border-top: 1px solid #EBEBEB;
}
.auction-tile .auction-tile-retail-price {
  color: #bbb;
}
.auction-tile .auction-tile-winning-price {
  font-weight: bold;
}
.live-ribbon-container {
  left: -5px;
  position: relative;
}
.sponsor-ribbon {
  position: absolute;
  left: 0;
  bottom: 10px;
  background: transparent url(https://az723232.vo.msecnd.net/assets/slack-imgscom-red-636076343102313840.png) center right no-repeat;
}
.sponsor-ribbon span {
  color: #FFF;
  float: left;
  padding-right: 30px;
  padding-left: 10px;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.2rem;
  -moz-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: left;
}
#dashboard-header {
  background-color: #262626;
  margin-bottom: 20px;
}
.dashboard-cell {
  display: block;
  padding: 24px;
  text-align: center;
  text-decoration: none !important;
}
@media (min-width: 768px) {
  .dashboard-cell {
    padding: 38px 0;
  }
}
#dashboard-avatar {
  padding: 30px;
}
@media (min-width: 768px) {
  #dashboard-avatar {
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  #dashboard-details {
    text-align: left;
  }
}
.dashboard-padded {
  padding-bottom: 4px;
}
#dashboard-username {
  font-size: 3rem;
  font-weight: bold;
  color: #33ace0;
  padding-bottom: 4px;
}
#dashboard-level {
  color: #fff !important;
  padding-bottom: 4px;
}
#dashboard-progress {
  color: #fff;
}
#dashboard-progress .progress {
  width: 200px;
  height: 6px;
  margin: 8px 8px 0 0;
}
#dashboard-progress .progress-bar {
  background-image: none;
  background-color: #33ace0;
}
.dashboard-number {
  padding-bottom: 16px;
  font-size: 3rem;
  font-weight: bold;
  color: #33ace0;
}
.dashboard-label {
  font-size: 2rem;
  color: #fff;
}
.dashboard-panel {
  border: 1px solid #F3F3F3;
  box-shadow: none;
}
.dashboard-panel .panel-heading {
  background-image: none;
  background-color: #F3F3F3;
}
.dashboard-panel .panel-heading h3 {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: normal;
}
.dashboard-panel .panel-heading a {
  display: inline-block;
  padding: 4px 12px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #fff;
  color: #333;
  border-radius: 500px;
}
.dashboard-flex-list {
  margin: 0 -10px -20px -10px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.dashboard-flex-list li {
  width: 50%;
  float: left;
  display: flex;
  padding: 0 10px 20px 10px;
}
.dashboard-flex-list li .dashboard-flex-item {
  min-width: 0;
  border: 1px solid #F3F3F3;
  text-align: center;
}
.dashboard-flex-list li .dashboard-flex-item .dashboard-flex-name {
  padding: 8px;
  font-size: 1.4rem;
}
@media (min-width: 560px) {
  .dashboard-flex-list li {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .dashboard-flex-list li {
    width: 12.5%;
  }
}
:lang(ar) body {
  font-size: 1.6rem;
}
:lang(ar) .nav {
  padding-right: 0;
}
:lang(ar) .navbar-brand {
  float: right !important;
}
:lang(ar) .navbar-right {
  /*float: left !important;*/
}
:lang(ar) .navbar-toggle {
  float: left !important;
}
@media (min-width: 768px) {
  :lang(ar) .navbar-brand {
    margin-left: 0;
    margin-right: -15px;
  }
  :lang(ar) .navbar-right {
    /*margin-right: 0;*/
    margin-left: -15px;
  }
  :lang(ar) .navbar-header {
    float: right !important;
  }
  :lang(ar) .navbar-nav > li {
    float: right;
  }
  :lang(ar) .navbar-right .dropdown-menu {
    right: auto;
    left: 0;
  }
}
:lang(ar) .dropdown-menu {
  text-align: right;
}
:lang(ar) .fa-pad-left {
  padding-left: 0;
  padding-right: 4px;
}
:lang(ar) .fa-pad-right {
  padding-left: 4px;
  padding-right: 0;
}
:lang(ar) .fa-fw.fa-pad-right {
  margin-left: 6px;
  margin-right: 0;
}
:lang(ar) .radio label,
:lang(ar) .checkbox label {
  padding-right: 20px;
  padding-left: 0;
}
:lang(ar) .radio input[type="radio"],
:lang(ar) .radio-inline input[type="radio"],
:lang(ar) .checkbox input[type="checkbox"],
:lang(ar) .checkbox-inline input[type="checkbox"] {
  margin-right: -20px;
  margin-left: 0;
}
:lang(ar) .close {
  float: left;
}
:lang(ar) .input-group-addon {
  border: 1px solid #ccc;
}
:lang(ar) .input-group-addon:first-child {
  border-left: 0;
}
:lang(ar) .input-group-addon:last-child {
  border-right: 0;
}
:lang(ar) #header-subscription {
  float: left !important;
}