@import "variables";

.form-report-filter {
    margin-bottom: 1em;
}

.date-picker {
    width: 150px !important;
}

.ui-corner-all {
    border-radius: 0 !important;
}

.text-success {
    color: @success;
}

.text-danger {
    color: @danger;
}

.text-warning {
    color: @warning;
}

.user-avatar {
    width: 100px;
    height: 100px;
    float: right;
}

.img-cell {
    width: 40px;
    height: 40px;
}
