#home-index #page-title {
  display: none;
}
#home-index .mz-wrapper {
  width: 788px;
  margin: 0 auto;
}
#home-index .mz {
  float: left;
  height: 190px;
  background: transparent url(//az712326.vo.msecnd.net/assets/mz-freehand-635610878999247526.png) 0 0 no-repeat;
}
#home-index .mz-m {
  width: 173px;
}
#home-index .mz-z {
  width: 130px;
  background-position-x: -173px;
}
#home-index .mz-a1 {
  width: 106px;
  background-position-x: -303px;
}
#home-index .mz-y {
  width: 134px;
  background-position-x: -409px;
}
#home-index .mz-a2 {
  width: 109px;
  background-position-x: -543px;
}
#home-index .mz-d {
  width: 136px;
  background-position-x: -652px;
}
#home-index #auction-list > li {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #dbdbdb;
  background-color: white;
}
#home-index #auction-list > li:last-child {
  margin-bottom: 0;
}
#home-index #auction-list > li .auction-details .auction-title,
#home-index #auction-list > li .auction-details .auction-status,
#home-index #auction-list > li .auction-details .auction-specs,
#home-index #auction-list > li .auction-details .auction-price {
  margin-bottom: 20px;
}
#home-index #auction-list > li .auction-details h2 {
  color: #132e72;
  font-size: 4.8rem;
}
#home-index #auction-list > li .auction-details h3 {
  font-size: 2rem;
}
#home-index #auction-list > li .auction-details .product-information {
  position: relative;
  max-height: 200px;
  overflow: hidden;
}
#home-index #auction-list > li .auction-details .product-information .more-overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: transparent url('/content/images/transparent-gradient.png') center center repeat-x;
}
#home-index #auction-list > li .auction-details .product-information .product-specifications > ul {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
#home-index #auction-list > li .auction-details .btn-show-more,
#home-index #auction-list > li .auction-details .btn-show-less {
  display: none;
  padding: 0;
  font-size: 1.4rem;
}
#home-index #auction-list > li .auction-status {
  position: relative;
  display: table;
  border-collapse: separate;
  text-align: center;
  border: 2px solid;
  width: 100%;
}
#home-index #auction-list > li .auction-status .auction-status-loading {
  padding: 15px;
  font-size: 1.7rem;
  font-style: italic;
}
#home-index #auction-list > li .auction-status .auction-status-label,
#home-index #auction-list > li .auction-status .auction-status-details {
  display: table-cell;
  padding: 12px;
  font-size: 1.8rem;
}
#home-index #auction-list > li .auction-status .auction-status-label {
  width: 150px;
  white-space: nowrap;
  vertical-align: middle;
  color: white;
}
#home-index #auction-list > li .auction-status .auction-status-label i.fa {
  font-weight: normal;
}
#home-index #auction-list > li .auction-status .auction-status-details {
  position: relative;
  float: left;
  z-index: 2;
  width: 100%;
}
#home-index #auction-list > li .auction-status.status-closed {
  border-color: #b94a48;
  background-color: rgba(185, 74, 72, 0.05);
}
#home-index #auction-list > li .auction-status.status-closed > .auction-status-label {
  background-color: #b94a48;
}
#home-index #auction-list > li .auction-status.status-live {
  border-color: #008c00;
  background-color: rgba(0, 140, 0, 0.05);
}
#home-index #auction-list > li .auction-status.status-live > .auction-status-label {
  background-color: #008c00;
}
#home-index #auction-list > li .auction-status.status-upcoming {
  border-color: #d9a300;
  background-color: rgba(217, 163, 0, 0.05);
}
#home-index #auction-list > li .auction-status.status-upcoming > .auction-status-label {
  background-color: #d9a300;
}
#home-index #auction-list > li .product-image,
#home-index #auction-list > li .product-image img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
#home-index #auction-list > li .product-images {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
#home-index #auction-list > li .upcoming-date {
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 4.2rem;
  font-weight: bold;
  color: #fff;
  background: #132e72;
}
/*# sourceMappingURL=site-home.css.map */