@import "variables";

#closed-auctions {
    margin: 0 -10px 15px -10px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    li {
        width: 100%;
        float: left;
        display: flex;
        padding: 0 10px 20px 10px;
    }

    @media (min-width: 560px) {
        li {
            width: 50%;
        }
    }

    @media (min-width: 992px) {
        li {
            width: 25%;
        }
    }
}

.auction-tile {
    min-width: 0;
    border: 1px solid @lightgrey;
    text-align: center;

    .auction-tile-row {
        padding: 6px;
    }

    .auction-tile-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: @font-size + 0.1;
    }

    .auction-tile-image {
        padding: 10px;
    }

    .auction-tile-details {
        padding: 10px;
        border-top: 1px solid #EBEBEB;
    }

    .auction-tile-retail-price {
        color: @lightgrey;
    }

    .auction-tile-winning-price {
        font-weight: bold;
    }
}
