@import url("variables");

.navbar-inverse {
    background: @base;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-nav .btn-link {
    border: 0;
    padding: 15px;
    color: white !important;
}