@model Mzayad.Web.Areas.admin.Models.Specification.AddViewModel
<section>
    <div class="form-group">
        @Html.LabelFor(i => i.Specification.Name, "Name")
        @Html.EditorFor(i => i.Specification.Name, Model.Specification)
        @Html.ValidationMessageFor(m => m.Specification.Name, "Please enter a specification name.")
    </div>

</section>

<section class="form-buttons">
    <button type="submit" class="btn btn-default">Save And Continue</button>
</section>
