@using Mzayad.Models
@using Mzayad.Web.Extensions
@model IEnumerable<Specification>

@{
    ViewBag.Title = "Specification";
}


<ul class="link-list">
    <li><i class="fa fa-plus"></i> @Html.ActionLink("Add Specification", "Add", "Specifications")</li>
</ul>

<table class="@Html.Css().GridTable">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
       
    </thead>
    <tbody>
        @foreach (var specification in Model)
        {
            <tr>
                <td>@specification.Name</td>
                <td>
                    @Html.ActionLink("Delete","Delete","Specifications",new {id=@specification.SpecificationId},null)
                </td>
            </tr>
        }
    </tbody>
</table>
