@model FileInfo
@{
    ViewBag.Title = "Development Docs - " + Path.GetFileNameWithoutExtension(Model.FullName);

    var markdown = new MarkdownSharp.Markdown();
    var content = markdown.Transform(File.ReadAllText(Model.FullName));
}

<div id="doc-content">
    @Html.Raw(content)
</div>

@section scripts {
    <script>
        (function($) {

            $(function() {
                $("#doc-content").find("img").each(function () {
                    $(this).addClass("img-responsive");
                });
            });

        })(jQuery);
    </script>
}