@model DateTime?

@if (!User.Identity.IsAuthenticated)
{
    return;
}

<div id="header-subscription" class="pull-right">
    <a href="@Url.Action("Index", "Subscriptions", new {area = "", language = LanguageCode })">
        <small>
        @F(Global.SubscriptionLabelAndStatus, new
        {
            StatusText = Html.DisplayFor(m => m, "SubscriptionUtc").ToString()
        })
        </small>
    </a>
</div>