@using OrangeJetpack.Base.Web
@{
    var statusMessage = TempData["StatusMessage"] as StatusMessage;
}

@if (statusMessage != null)
{
    <div class="wow fadeIn">
        @Html.StatusMessage(statusMessage)
    </div>
}