@using Mzayad.Web.Extensions
@using OrangeJetpack.Base.Web

@{
    var statusMessage = TempData["StatusMessage"] as StatusMessage;
}

@if (statusMessage != null)
{
    <div class="wow fadeInDown">
        @Html.StatusMessage(statusMessage)
    </div>
}
