@model string
<div class="prize-container">
    <img src="https://az723232.vo.msecnd.net/assets/prize-icon.svg" />
    <h1>
        @Global.Congratulations
    </h1>
    <p>
        @Html.Raw(string.Format(Global.PrizeChanceMessage, Model))
    </p>
</div>
