@using Mzayad.Web.Extensions
@using OrangeJetpack.Base.Core.Formatting
@model IEnumerable<Mzayad.Models.EmailTemplate>

@{
    ViewBag.Title = "Email Template";
    
}

<table class="@Html.Css().GridTable">
    <thead>
        <tr>
            <th>Template</th>
            <th>Description</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    @foreach (var template in Model)
    {
        <tr>
            <td>@EnumFormatter.Description(template.TemplateType)</td>
            <td>@template.Description</td>
            <td class="link-cell">
                @Html.ActionLink("Edit", "EditEmailTemplate", "Settings", new { id = template.TemplateType }, null)
            </td>
        </tr>
    }
</table>
