@model IReadOnlyCollection<Mzayad.Web.Models.Auctions.AuctionViewModel>

@{
    ViewBag.Title = Global.ClosedAuctions;
}

<ul id="closed-auctions">
    @foreach (var auction in Model)
    {
        <li>@Html.DisplayFor(m => auction, "AuctionTile")</li>
    }
</ul>