@model Mzayad.Web.Models.Order.DetailsViewModel

@{
    ViewBag.Title = "Order Received";
}

@section styles{
    <style>
        .alert {
            font-size: 16px;
        }
        
    </style>
}

@Html.StatusMessage(Global.OrderSuccessMessage)


@if (!string.IsNullOrEmpty(Model.RedirectUrl))
{
    <div class="prize-container">
        <img src="https://az723232.vo.msecnd.net/assets/prize-icon.svg"/>
        <h1>
            @Global.Congratulations
        </h1>
        <p>
            @Html.Raw(string.Format(Global.PrizeChanceMessage, Model.RedirectUrl))
        </p>
    </div>
}


@Html.Partial("OrderDetailsSummary", Model)

