@model Mzayad.Web.Areas.admin.Models.Auctions.AddEditViewModel
@{
    ViewBag.Title = "Edit Auction";
}

<ul class="link-list">
    <li><a href="@Url.Action("Delete", "Auctions", new {id = @Model.Auction.AuctionId})">Delete Auction</a></li>
</ul>

@Html.Partial("_AddEditAuction")

@section scripts {
    <script>

        var toggleBuyNow = function () {
            var checkbox = $("#Auction_BuyNowEnabled");
            var section = checkbox.parents("section");
            var formGroups = section.find(".form-group-disableable");
            var formControls = formGroups.find(".form-control");

            if (checkbox.is(":checked")) {
                formGroups.removeClass("form-group-disabled");
                formControls.prop("disabled", false);
            } else {
                formGroups.addClass("form-group-disabled");
                formControls.prop("disabled", true);
            }
        }

        $(function () {
            $("#Auction_BuyNowEnabled").on("change", toggleBuyNow);
            toggleBuyNow();
        });

    </script>
}