@model Mazadaty.Web.Models.DateRangeModel


<div class="col-md-5">
    <div class="form-group row">
        @Html.LabelFor(i=>i.StartDate,Global.StartDate,new {@class= "" })
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            @Html.TextBox("StartDate", ( Model.StartDate.ToString("dd/MM/yyyy")), new { @class = "form-control date-picker" })
        </div>
    </div>
</div>
<div class="col-md-5">
    <div class="form-group">
        @Html.LabelFor(i => i.EndDate, Global.EndDate, new { @class = "" })
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            @Html.TextBox("EndDate", (Model.EndDate.ToString("dd/MM/yyyy")), new { @class = "form-control date-picker" })
        </div>
    </div>
</div>
