@using Newtonsoft.Json
@{
    Layout = null;


    var auctionIds = new List<int> {1, 2, 3};

    if (Request.QueryString["AuctionId"] != null)
    {
        auctionIds.Add(int.Parse(Request.QueryString["AuctionId"]));
    }
    
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SignalR Auction Test</title>
</head>
<body>
    
    <button type="button">Bid</button>

    <ul></ul>

    <script src="/scripts/jquery-2.1.3.js"></script>
    <script src="/scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>
    <script>
        $(function () {

            var auctionIds = @JsonConvert.SerializeObject(auctionIds);
            var auctionHub = $.connection.auctionHub;
            var onConnection = function() {
                auctionHub.server.initAuctions(auctionIds).done(function (results) {
                    $("ul").append($("<li>").text(results));
                });
            };

            auctionHub.client.updateAuctions = function (results) {
                $("ul").append($("<li>").text(results));
            };

            auctionHub.client.onConnected = function(message) {
                console.log(message);
            }

            auctionHub.client.onDisconnected = function(message) {
                console.log(message);
            }

            $.connection.hub.logging = true;
            $.connection.hub.start().done(onConnection);

            $("button").on("click", function() {
                console.log("click");

                auctionHub.server.submitBid(1);
            });

        });
    </script>
</body>
</html>
