@using Kendo.Mvc.UI
@using Mazadaty.Web.Extensions
@using Page = Mazadaty.Models.Page
@model IReadOnlyCollection<Mazadaty.Models.Page>
@{
    ViewBag.Title = "Pages";
}


<ul class="link-list">
    <li>@Html.ActionLink("Add Page", "Add", "PageManagement")</li>
</ul>

@if (!Model.Any())
{
    <div class="alert alert-warning">There are currently no pages.</div>

    return;
}

@(Html.Kendo().Grid<Page>()
    .Init(ajax => ajax.Action("GetPages", "PageManagement"))
    .Columns(columns =>
    {
        columns.Bound(i => i.Title);
        columns.Bound(i => i.PageTag).ClientTemplate("/pages/#=PageTag#").Title("URL");
        //columns.Bound(i => i.Status).ClientTemplate("# if (data.Status == 1) {# <span class='label label-success'>Public</span> # } else { # <span class='label label-danger'>Private</span> # } #");
        columns.LinkColumn("Edit", "/admin/pages/edit/#=PageId#");
    })
)
