@using Mzayad.Web.Extensions
@using OrangeJetpack.Localization
@model Mzayad.Web.Areas.admin.Models.Sponsors.AddViewModel

@{
    
    ViewBag.Title = "Edit sponsor " ;
    
}


<div class="row">
    <div class="@Html.Css().FormNarrow">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.Partial("_AddEdit")

        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/js/validate")
}


